DATABASE_URL=
DATABASE_URL_TEST=
PORT=4200
API_KEY=
WEBHOOK_SECRET=
PUBLIC_BASE_URL=
ELEVENLABS_API_KEY=
ELEVENLABS_AGENT_SOURCING=
ELEVENLABS_SIP_PHONE_ID=
PLIVO_AUTH_ID=
PLIVO_AUTH_TOKEN=
COMPANY_NAME=Pinified
MAX_CONCURRENT=2
MAX_ATTEMPTS=2
